# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.list

# Mac OS X
.DS_Store

# Build Output
/target/
/build/

# IntelliJ IDEA files
.idea/
*.iml
*.iws

# Eclipse files
.classpath
.project
.settings/

# VSCode files
.vscode/

#Hide all our secret passwords
/src/main/resources/application.properties